<div class="container">
  <div class="global-wrapper">
    <%= form_tag("/rvs/filter", method: "get", class:"datepicker") do %>
      <input type="hidden" value="<%= @searched_location %>" name="searched_location" >
      <%= label_tag(:rv, "Rent from:") %>
      <%= date_field(:rv, :available_from) %>
      <%= label_tag(:rv, "Rent until:") %>
      <%= date_field(:rv, :available_till) %>
      <%= submit_tag("Filter") %>
    <% end %>

    <% @rvs.each do |rv| %>
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1520101244246-293f77ffc39e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
        <div class="card-trip-infos">
          <div>
            <h2><%= rv.category%> by <%=rv.user.name %></h2>
            <p>Description of the RV</p>
          </div>
          <h2 class="card-trip-pricing"> <%= rv.price_per_night %>€ per night</h2>
          <%=link_to 'Book now', rv_path(rv), class: 'btn-card' %>
          <%= link_to 'Back to homepage', '/', class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
