<h2 class="header1">You chose this RV</h2>

<div class="container">
  <div class="global-wrapper">
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1520101244246-293f77ffc39e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
      <div class="card-trip-infos">
        <div>
          <h2><%= @rv.category%> by <%= @rv.user.name %></h2>

          <p class="pcard"> Located in <%= @rv.available_in%></p>
          <p class="pcard"> Model : <%= @rv.model %></p>
          <p class="pcard"> Number of seats: <%= @rv.travelling_seats %></p>
          <p class="pcard"> Number of beads: <%= @rv.beds %></p>

        </div>
        <h2 class="card-trip-pricing"> <%= @rv.price_per_night %>€ per night</h2>
        <div>
          <%=link_to 'Book now', new_rv_booking_request_path(@rv), class: 'btn-red show-rv' %>
          <%= link_to 'Go back', '/rvs', class: 'go-back' %>
        </div>
      </div>
    </div>
  </div>
</div>
