<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515172128886-07c606bb4eb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2085&q=80);">
  <div class="container">
    <h1>Are you ready for your next trip?</h1>
    <p>Find the perfect RV</p>

  <%= simple_form_for(@rv, method: :get) do |f| %>
  <%= f.input :available_in %>
  <%= f.input :available_from, as: :date %>
  <%= f.input :available_till, as: :date %>
  <%= f.submit 'Find RVs', class: "btn" %>
  <% end %>
  </div>

  <div class="container">
      <div class='col-md-5'>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker6'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-md-5'>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker7'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker6').datetimepicker();
          $('#datetimepicker7').datetimepicker({
              useCurrent: false //Important! See issue #1075
          });
          $("#datetimepicker6").on("dp.change", function (e) {
              $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
          });
          $("#datetimepicker7").on("dp.change", function (e) {
              $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>
</div>

