<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515172128886-07c606bb4eb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2085&q=80);">
  <div class="container">
    <h1>Are you ready for your next trip?</h1>
    <p>Find the perfect RV</p>

    <%= form_tag("/rvs", method: "get") do %>
      <%= label_tag(:rv, "Location:") %>
      <%= text_field(:rv, :available_in) %>
      <%= label_tag(:rv, "Rent from:") %>
      <%= date_field(:rv, :available_from) %>
      <%= label_tag(:rv, "Rent till:") %>
      <%= date_field(:rv, :available_till) %>
      <%= submit_tag("Search") %>
    <% end %>

    <a class="btn-red" href="#">Call to Action</a>
    <a class="btn-blue" href="#">Call to Action</a>
  </div>
</div>

